{% extends "base.html" %}

{% block content %}

    <div class="center-container">
        <div class="center-row">
          <div class="col-xs-6 bg-two text-center">
              <section class="pull-left">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h3 class="panel-title">Your newest feeds</h3>
                  </div>
                  <div class="panel-body">
                    <ul class="list-group">
                    {% for key in posts %}
                            <li class="list-group-item">
                                <div>
                                    <img src="{{ key.img_url }}" class="uk-thumbnail">
                                    <h5>{{ key.title }}</h5>
                                    <p>{{ key.author }}</p>
{#                                    <a href="{{ key.link }}" target="_blank">{{ key.link }}</a>#}
                                    <p>{{ key.publish_time }}</p>
                                </div>
                            </li>
                    {% endfor %}
                    </ul>
                  </div>
                </div>
            </section>
          </div>
        </div>
        <div class="center-row">
          <div class="col-xs-6 bg-three text-center">
              <section class="pull-left">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h3 class="panel-title">Your chosen links</h3>
                  </div>
                  <div class="panel-body">
                    <ul class="list-group">
                    {% for key in linked_posts %}
                            <li class="list-group-item">
                                <div>
                                    <a href="{{ key.link }}" target="_blank">{{ key.title }}</a>
                                </div>
                            </li>
                    {% endfor %}
                    </ul>
                  </div>
                </div>
            </section>

          </div>
        </div>
      </div>
    </div>


        <div class="pagination">
            <span class="step-links">
                {% if posts.has_previous %}
                    <a href="?page={{ posts.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ posts.number }} of {{ posts.paginator.num_pages }}.
                </span>

                {% if posts.has_next %}
                    <a href="?page={{ posts.next_page_number }}">next</a>
                {% endif %}
            </span>
        </div>

{% endblock %}